@use "../../scss/" as *;

.seat-container {
  @include mobile {
    display: none;
  }
}

//custom bootstrap component
.dropdown-menu {
  width: 500px;
  max-height: 255px;
  overflow-y: scroll;
}
.dropdown-menu::-webkit-scrollbar {
  display: none;
}

.map-mobile {
  display: none;

  @include mobile {
    display: block;
    width: 100%;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
}
