$main-bg: #fff;
$second-bg:#3a454b;
$third-bg:#EEEEEE;
$main-color: #1C57A5;
$second-color: #00ACEC;


$txt-main-color: #000;
$txt-second-color: #8b6060;
$txt-third-color:#555555;
$txt-white: #fff;
$txt-gray :#BDC3CA;


$boder-radius : 5px;

$nav-height : 50px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$mobile-tablet-width: 800px;

$tablet-width: 1024px;
$tablet-desktop-width: 1424px;


